body {
  text-align:center;
  padding:1em 0;
  direction:rtl;
}
#container {
  width:770px;
  margin:0 auto;
  text-align:right;
  font-size:1.3em;
}
.logo { float:right; }
h1 {
  margin-right:160px;
  margin-left:0px;
  border-bottom:1px solid #999;
  padding:0.9em 0 .1em 0;
}
#content {
  clear:right;
  float:right;
  width:445px;
  padding-bottom:20px;
}
#content img {
  float:right;
}
#action { 
  margin-right:465px; 
  margin-left:0px; 
}
.langmenu {
  display:inline;
  float:left;
  padding-top:10px;
  font-size:90%;
}
#tos #throbber {
  display: none;
  position: absolute;
  top: 2px;
  left: auto;
  right: -24px;
}
.inline {
  float:left;
  padding:0 10px 10px 0;
}
